main {
    font-family: monospace;
    font-size: 130%;
}

body {
    background: rgb(104, 148, 22);
    margin: 0 20% 5% 20%;
}

#footerid {
    background: rgb(114, 114, 114);
    color: black;
    font-weight: bold;
    width: 100%;
    left: 0;
    bottom: 0;
    text-align: center;
    position: fixed;
    margin-bottom: 0;
    padding: 10px 0;
}

h1, h2 {
    text-decoration: underline;
}

.titel {
    font-size: 50px;
}

@media (max-width: 1100px) {
    body {
        margin: 0 10% 5% 10%;
    }
}

@media (max-width: 768px) {
    body {
        font-size: 60%;
        margin: 0 3% 6% 3%;
    }

    .titel {
        font-size: 30px;
    }
}