h1, h2 {
    text-decoration: underline;
}

.titel {
    font-size: 50px;
}

main {
    font-family: helvetica;
    font-size: 130%;
}

body {
    background: rgb(127, 211, 236);
    margin: 3% 20%;
    padding: 2%;
    box-shadow: 0px 0px 35px 35px rgb(177, 218, 219);
    border: 2px solid black;
}

header {
    position: fixed;
    display: flex;
    right: 0;
}

#footerid {
    background: rgb(70, 120, 196);
    color: black;
    font-weight: bold;
    width: 100%;
    left: 0;
    bottom: 0;
    text-align: center;
    position: fixed;
    margin-bottom: 0;
    padding: 10px 0;
    border: 2px solid black;
}

@media (max-width: 1100px) {
    body {
        margin: 0 10% 5% 10%;
    }
}

@media (max-width: 768px) {
    body {
        font-size: 60%;
        margin: 0 3% 6% 3%;
    }

    .titel {
        font-size: 30px;
    }
}